body {
    margin: 0;
    font-family: "Inter", sans-serif;;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 60px;
    background-color:#2152D0;
    font-size: 48px;
    color: white;    
}

.main{
    background-color: #7a97e3;
    display: flex;
}

.main ul{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    gap: 50px ;
    transition: all 0.3s;
}
.header_buttons{
    background-color: #092467;
    border: none;
    padding: 12px 28px;
    text-align: center;
    border-radius: 16px;
    color: white;
    font-weight: bold;
    transition: 0.3s;

}

.header_buttons:hover{
    transform: scale(1.1);
}

.following_courses{
    max-width: 20%;
    display: flex;
    flex-direction: column;
    padding: 60px;
    min-height: 600px;
}



.following_courses h2{
    padding-bottom: 75px;
}

.course_button {
    background-color: #2152D0;
    border: none;
    padding: 12px 28px;
    text-align: center;
    border-radius: 16px;
    width: 250px;
    color: white;
    font-weight: bold;
    transition: 0.3s;
    margin-bottom: 20px;
}

.course_button:hover {
    background-color: #092467;
    transform: scale(1.1);
}

.trim {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}


 .welcome {
        position: relative;
        text-align: center;
        color: #092467;
        width: 100%;
        height: auto;
        
    }
 
.img_text {
        position: absolute;
        top: 20%;
        left: 20%;
        transform: translate(-20%, -20%);
    }

.img_text {
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-20%, -20%);
}

.drop_btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 78px;
    height: 78px;
}

.dropdown_menu {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #092467;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown_content a {
    color: white;
    padding: 12px 16px;
    display: block;
}

.dropdown_content a:hover {
    background-color: #7a97e3;
}

.show {
    display: block;
}