body {
    margin: 0;
    font-family: "Inter", sans-serif;;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 60px;
    background-color:#2152D0;
    font-size: 48px;
    color: white;    
}

.logo{
    height: 250px;
    width: 250px;
    display: flex;
}
.main{
    background-color: #7a97e3;
    display: flex;
}

.main ul{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    gap: 50px ;
    transition: all 0.3s;
}
.header_buttons{
    background-color: #092467;
    border: none;
    padding: 12px 28px;
    text-align: center;
    border-radius: 16px;
    color: white;
    font-weight: bold;
    transition: 0.3s;

}

.header_buttons:hover{
    transform: scale(1.1);
}

.following_courses{
    max-width: 20%;
    display: flex;
    flex-direction: column;
    padding: 60px;
    min-height: 600px;
}

.following_courses h2{
    font-size: 24px;
    color: white;
    padding-bottom: 20px;
    text-shadow: 2px 2px 4px #000000;
}

.course_button {
    background-color: #2152D0;
    border: none;
    padding: 12px 28px;
    text-align: center;
    border-radius: 16px;
    width: 250px;
    color: white;
    font-weight: bold;
    transition: 0.3s;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.course_button:hover {
    background-color: #092467;
    transform: scale(1.1);
}


.trim {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
}
    
.welcome {
        position: relative;
        text-align: center;
        color: #4976e9;
        width: 100%;
        height: auto;
        
    }
 
.img_text {
        position: absolute;
        top: 20%;
        left: 40%;
        transform: translate(-20%, -40%);
        text-shadow: 3px 3px 4px #000000;
    }


.drop_btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 78px;
    height: 78px;
    transition: 0.3s;
}

.drop_btn:hover {
    transform: scale(1.2);
}

.dropdown_menu {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #092467;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown_content a {
    color: white;
    padding: 12px 16px;
    display: block;
}

.dropdown_content a:hover {
    background-color: #7a97e3;
}

.show {
    display: block;
}

.sidebar {
    width: 20%;
    background-color: #A7B9EB;
    padding: 20px;
    box-sizing: border-box;
    
}

.menu button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #3366CC;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    
}

.menu button:hover {
    background-color: #254a99;
}

.threads {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 50px;
    box-sizing: border-box;
}



.thread {
    background-color: #E4EDFF;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    
}

.thread h3 {
    margin-top: 0;
    margin-bottom: 0; 
    align-self: center; 
}

.thread-actions {
    display: flex;
    justify-content: space-between;
}


.thread-actions button {
    background-color: #3366CC;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 20px; 
    
}
.forum h2 {
    margin-top: 50px;
    margin-bottom: 0px;
    align-self: center;
    text-align: center;
    border : 2px solid #092467;
    background-color: #092467;
    color: white;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.thread-actions button:hover {
    background-color: #254a99;
}

.add-thread {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #00CC66;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.add-thread:hover {
    background-color: #00994C;
}

.container {
    display: flex;
}


